@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #EF7F1A;
    --white-color: #ffffff;
    --black-color: #2B2A29;
    --grey-color: #757575;
    --grey-color2: #D5D5D5;
    --bg-color: rgba(250, 250, 250, 0.98);

    --height-header: 96px;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    color: var(--black-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
    font-style: normal;
}

body.menu-open {
    overflow: hidden;

    .header {
        &::before {
            transform: translateX(0);
        }
    }

    .header__menu {
        transform: translateX(0);
        pointer-events: initial;
    }

    .header__item {
        &:nth-child(1) {
            .header__link {
                animation: lintMove 0.6s ease forwards 0.2s;
            }
        }

        &:nth-child(2) {
            .header__link {
                animation: lintMove 0.6s ease forwards 0.3s;
            }
        }

        &:nth-child(3) {
            .header__link {
                animation: lintMove 0.6s ease forwards 0.4s;
            }
        }

        &:nth-child(4) {
            .header__link {
                animation: lintMove 0.6s ease forwards 0.5s;
            }
        }
    }
}

input,
button,
textarea {
    font-family: 'Inter', sans-serif;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    display: block;
    height: auto;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

p:not(:last-child) {
    margin-bottom: 20px;
}

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrapper>main {
    position: relative;
    z-index: 20;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-bottom: 120px;

    &:after {
        content: "";
        clear: both;
    }
}

.wrapper>* {
    min-width: 0;
}

.container {
    width: 100%;
    max-width: 1344px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: 120px;
    }
}

.section_fullscreen {
    position: relative;
    min-height: 100vh;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2;
}

.page-title {
    color: var(--white-color);
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.section-title {
    color: var(--black-color);
    font-size: 120px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.section-title.section-title__white {
    color: var(--white-color);
}

.decor-title {
    color: var(--main-color);
}

.decor-title__black {
    color: var(--black-color);
}

.section-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 752px;
    margin-left: auto;
    color: var(--black-color);

    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.section-subtitle {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.section-text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.text {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.decor-line {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;

    &::before {
        content: '';
        flex: 1 1 auto;
        height: 1px;
        background: var(--black-color);
    }

    &::after {
        content: '';
        width: 56px;
        height: 24px;
        flex-shrink: 0;
        background: url('data:image/svg+xml,<svg width="56" height="24" viewBox="0 0 56 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 0 16)" fill="%232B2A29"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 16 16)" fill="%232B2A29"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 32 16)" fill="%23EF7F1A"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 48 16)" fill="%232B2A29"/></svg>') center center no-repeat no-repeat;
    }
}

.decor-line.decor-line__reverse {
    &::after {
        content: '';
        flex: 1 1 auto;
        height: 1px;
        background: var(--black-color);
    }

    &::before {
        content: '';
        width: 56px;
        height: 24px;
        flex: 0 0 56px;
        flex-shrink: 0;
        background: url('data:image/svg+xml,<svg width="56" height="24" viewBox="0 0 56 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 0 16)" fill="%232B2A29"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 16 16)" fill="%232B2A29"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 32 16)" fill="%23EF7F1A"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 48 16)" fill="%232B2A29"/></svg>') center center no-repeat no-repeat;
    }
}

.decor-line.decor-line__white {
    &::before {
        background: var(--white-color);
    }

    &::after {
        background: url('data:image/svg+xml,<svg width="56" height="24" viewBox="0 0 56 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 0 16)" fill="white"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 16 16)" fill="white"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 32 16)" fill="%23EF7F1A"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 48 16)" fill="white"/></svg>') center no-repeat;
    }
}

.btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    padding: 10px 32px;
    min-height: 48px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 100px;
    text-transform: uppercase;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    outline: none !important;
}

.btn:active,
.btn:target {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default {
    color: var(--white-color);
    background: var(--main-color);
}

.btn-default:hover {
    box-shadow: inset 0 0 0 1px var(--main-color);
    color: var(--main-color);
    background: transparent;
}

.btn-black {
    background-color: var(--black-color);
    color: var(--white-color);
}

.btn-black:hover {
    box-shadow: inset 0 0 0 1px var(--main-color);
    color: var(--main-color);
    background: var(--white-color);
}

.header {
    position: relative;
    z-index: 35;
    overflow: hidden;
    min-height: var(--height-header);
    background: var(--black-color2);
    padding-top: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    aspect-ratio: 246 / 40;
}

.header__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 22px;
}

.header__nav:not(:last-child) {
    margin-right: 18px;
}

.header__logo {
    position: relative;
    z-index: 100;
    max-width: 246px;
    width: 100%;

    img {
        width: 100%;
    }
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px 40px;
}


.header__link {
    color: var(--black-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header__link:hover {
    color: var(--main-color);
}

.info_block {
    display: flex;
    align-items: center;
    gap: 16px;
}

.info_block__icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_block__icon::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><g clip-path="url(%23clip0_170_2509)"><path d="M19.4542 14.678L16.6631 11.8869C15.6663 10.8901 13.9717 11.2889 13.573 12.5847C13.274 13.4819 12.2772 13.9803 11.38 13.7809C9.38643 13.2825 6.69505 10.6908 6.19665 8.59746C5.89761 7.7003 6.49569 6.70349 7.39282 6.40448C8.68867 6.00576 9.08739 4.31119 8.09058 3.31438L5.29953 0.523324C4.50208 -0.174441 3.30591 -0.174441 2.60815 0.523324L0.714213 2.41726C-1.17972 4.41087 0.913575 9.69395 5.59857 14.3789C10.2836 19.0639 15.5666 21.2569 17.5603 19.2633L19.4542 17.3694C20.152 16.5719 20.152 15.3757 19.4542 14.678Z" fill="white"/></g><defs><clipPath id="clip0_170_2509"><rect width="20" height="20" fill="white"/></clipPath></defs></svg>') center no-repeat;
}

.info_block__head {
    color: var(--grey-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.info_block__text {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

}

.info_block__text a {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.info_block__text a:hover {
    color: var(--main-color);
}

.header__action {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    padding: 12px 20px;
    color: var(--black-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

    border-radius: 100px;
    box-shadow: inset 0 0 0 1px var(--black-color);
    transition: all 0.3s ease-in-out;
}

.header__action:hover {
    background: var(--main-color);
    color: var(--white-color);
    box-shadow: inset 0 0 0 1px var(--main-color);
}

.header__burger {
    position: relative;
    overflow: hidden;
    z-index: 100;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-left: auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 4px;
    padding: 4px;
    border-radius: 99px;
    border: 1px solid var(--black-color);
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    display: none;

    &:focus-visible {
        outline: none;
    }
}

.header__burger span {
    width: 20px;
    height: 2px;
    background: var(--black-color);
    transition: all 0.3s ease;
}

.menu-open .header__burger {
    background: var(--black-color);

    span {
        background: var(--white-color);

        &:nth-child(3n + 1) {
            transform: translateY(6px) rotate(-45deg);
        }

        &:nth-child(3n + 2) {
            opacity: 0;
            transform: translateX(100%);
        }

        &:nth-child(3n + 3) {
            transform: translateY(-6px) rotate(45deg);
        }
    }
}

.footer {
    position: relative;
    z-index: 35;
    padding-top: 32px;
    padding-bottom: 24px;
    background: var(--black-color);
}

.footer__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.footer__top:not(:last-child) {
    padding-bottom: 32px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--white-color);
}

.footer__list {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer__item .info_block__text {
    color: var(--white-color);
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.copyright__text {
    color: #C3C3C3;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.fenix-copyright {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    color: #C3C3C3;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    span {
        max-width: 65px;
    }
}

.fenix-copyright__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;

    img {
        aspect-ratio: 83 / 32;
        object-fit: contain;
    }
}

.fenix-copyright__link:hover {
    transform: scale(1.1);
}

.slider-bottom {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.swiper-nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

.swiper-button-next,
.swiper-button-prev {
    flex-shrink: 0;
    position: static !important;
    width: 48px !important;
    height: 48px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 100px;
    border: 1px solid var(--white-color);
    margin: 0 !important;
    transition: all 0.3s ease;

    &::after {
        display: none !important;
    }

    &::before {
        content: '';
        width: 16px;
        height: 16px;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><g clip-path="url(%23clip0_170_2460)"><path d="M12.1532 8.99895L-0.102687 8.99896L-0.102686 6.9855L12.1525 6.98478L6.7522 1.58447L8.17614 0.160519L16.0078 7.99222L8.17614 15.8239L6.75219 14.4L12.1532 8.99895Z" fill="white"/></g><defs><clipPath id="clip0_170_2460"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>') center center no-repeat;
    }

    &:hover,
    &:focus {
        background: var(--main-color);
        border-color: var(--main-color);
    }
}

.swiper-button-prev::before {
    transform: rotate(-180deg);
}

/* hero */

.hero__wrap {
    position: relative;
    overflow: hidden;
    border: 1px solid #3E92CC;
}

.hero__box {
    position: relative;
    z-index: 100;
    max-width: 50%;
    padding: 48px;

    &::before {
        content: '';
        position: absolute;
        top: 30%;
        left: 0;
        width: 1050px;
        height: 1600px;
        transform: translate(-50%, -50%) rotate(43deg);
        z-index: -1;
        pointer-events: none;
        background: var(--black-color);
        border-right: 10px solid #3E92CC;
    }
}

.hero__slider_trumbs {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.hero__subtitle {
    color: var(--white-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.hero__text {
    max-width: 450px;
    color: var(--white-color);
}

.hero__slider_wrapper {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.hero .swiper-nav {
    margin-top: 52px;
}

.hero__slider_img_wrap {
    position: absolute;
    inset: 0;
    max-width: 76%;
    margin-left: auto;
}

.hero__slider_img {
    height: 100%;
    width: 100%;
}

.hero__img {
    aspect-ratio: 988 / 600;
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
}

/* solutions */

.solutions {
    .btn {
        margin-top: auto;
        margin-left: auto;
    }
}

.solutions__row {
    display: flex;
    gap: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.solutions__content {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;


    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 48px;
        height: 48px;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><g clip-path="url(%23clip0_170_2423)"><path d="M26.6091 3.10444C26.2352 3.26039 25.9913 3.62429 25.9913 4.02813L25.9913 14.9824L0.999696 14.9824C0.44788 14.9824 -1.29133e-06 15.4303 -1.26721e-06 15.9821L-5.68059e-07 31.9768C-5.43939e-07 32.5286 0.447881 32.9765 0.999697 32.9765L25.9914 32.9765L25.9914 43.9728C25.9914 44.3766 26.2353 44.7406 26.6072 44.8965C26.9811 45.0505 27.4109 44.9665 27.6969 44.6806L47.7062 24.7372C47.8941 24.5493 48.0001 24.2954 48.0001 24.0295C48.0001 23.7636 47.8941 23.5096 47.7082 23.3217L27.6988 3.32036C27.4128 3.03443 26.983 2.94849 26.6091 3.10444Z" fill="%233E92CC"/></g><defs><clipPath id="clip0_170_2423"><rect width="48" height="48" fill="white" transform="translate(0 48) rotate(-90)"/></clipPath></defs></svg>') center center no-repeat no-repeat;
    }
}

.solutions__title {
    color: var(--black-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.solutions__text {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.solutions__img {
    width: 57%;
    height: fit-content;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    aspect-ratio: 752 / 402;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* ready-made */

.ready-made {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--main-color);
    color: var(--white-color);

    .section-top {
        color: var(--white-color);
    }

    .decor-line {
        &::after {
            background: url('data:image/svg+xml,<svg width="56" height="24" viewBox="0 0 56 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 0 16)" fill="%232B2A29"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 16 16)" fill="%232B2A29"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 32 16)" fill="white"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 48 16)" fill="%232B2A29"/></svg>') center center no-repeat;
        }
    }
}

.ready-made__top {
    display: flex;
    align-items: center;
    gap: 20px;

    &:not(:last-child) {
        margin-bottom: 60px;
    }
}

.ready-made__logo {
    flex-shrink: 0;
}

.ready-made__head {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    &::after {
        content: '';
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g clip-path="url(%23clip0_170_2022)"><path d="M22.4477 13.3045C22.3697 13.1176 22.1878 12.9956 21.9859 12.9956L16.5087 12.9956V0.499849C16.5087 0.223941 16.2848 0 16.0089 0L8.01151 0C7.7356 0 7.51166 0.223941 7.51166 0.499849L7.51166 12.9957L2.01352 12.9957C1.8116 12.9957 1.62964 13.1177 1.55167 13.3036C1.47468 13.4905 1.51667 13.7055 1.65963 13.8484L11.6313 23.8531C11.7253 23.947 11.8522 24 11.9852 24C12.1181 24 12.2451 23.947 12.3391 23.8541L22.3397 13.8494C22.4827 13.7064 22.5257 13.4915 22.4477 13.3045Z" fill="white"/></g><defs><clipPath id="clip0_170_2022"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>') center center no-repeat;
    }

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

[data-made-slider] {
    position: relative;
    overflow: hidden;
    padding-top: 20px;

    .swiper-slide {
        height: auto;
    }

    .swiper-button-prev,
    .swiper-button-next {
        &.swiper-button-lock {
            display: none !important;
        }
    }

    &:not(.swiper-initialized) {
        .swiper-wrapper {
            display: flex;
            align-items: stretch;
            gap: 32px;
        }

        .swiper-slide {
            width: calc(50% - 16px);
            flex-shrink: 0;
        }
    }

}

.made-slider {
    position: relative;
    overflow: hidden;
    padding-top: 20px;

    .made-slider__img {
        aspect-ratio: 640 / 360;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .made-slider__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .made-slider__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        border-color: var(--black-color);

        &::before {
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><g clip-path="url(%23clip0_170_2460)"><path d="M12.1532 8.99895L-0.102687 8.99896L-0.102686 6.9855L12.1525 6.98478L6.7522 1.58447L8.17614 0.160519L16.0078 7.99222L8.17614 15.8239L6.75219 14.4L12.1532 8.99895Z" fill="%232B2A29"/></g><defs><clipPath id="clip0_170_2460"><rect width="16" height="16" fill="%232B2A29"/></clipPath></defs></svg>') center center no-repeat;
            transition: background 0.3s ease-in-out;
        }

        &:focus,
        &:hover {
            background: var(--black-color);

            &::before {
                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><g clip-path="url(%23clip0_170_2460)"><path d="M12.1532 8.99895L-0.102687 8.99896L-0.102686 6.9855L12.1525 6.98478L6.7522 1.58447L8.17614 0.160519L16.0078 7.99222L8.17614 15.8239L6.75219 14.4L12.1532 8.99895Z" fill="%23ffffff"/></g><defs><clipPath id="clip0_170_2460"><rect width="16" height="16" fill="%23ffffff"/></clipPath></defs></svg>') center center no-repeat;
            }
        }
    }
}

/* text-block */

.text-block__wrap {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.text-block__text {
    color: #D5D5D5;
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
    text-indent: 40%;

    /* &::before {
        content: '';
        position: absolute;
        top: 52px;
        left: 0;
        width: 181px;
        height: 42px;
        background: url('data:image/svg+xml,<svg width="181" height="42" viewBox="0 0 181 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.5844 3.50351C21.2811 3.63409 21.0833 3.9388 21.0833 4.27695L21.0833 13.4494L0.81092 13.4494C0.363306 13.4494 -1.08127e-06 13.8244 -1.06108e-06 14.2864L-4.75655e-07 27.6793C-4.55458e-07 28.1414 0.363306 28.5164 0.810921 28.5164L21.0833 28.5164L21.0833 37.724C21.0833 38.0621 21.2812 38.3668 21.5829 38.4974C21.8861 38.6263 22.2348 38.556 22.4668 38.3166L38.6977 21.6174C38.8501 21.46 38.9361 21.2474 38.9361 21.0247C38.9361 20.8021 38.8501 20.5894 38.6993 20.4321L22.4684 3.68431C22.2364 3.44489 21.8877 3.37293 21.5844 3.50351Z" fill="%23EF7F1A"/><g opacity="0.48" clip-path="url(%23clip0_170_2057)"><path d="M92.5199 3.50339C92.2167 3.63397 92.0188 3.93868 92.0188 4.27683L92.0188 13.4492L71.7465 13.4492C71.2989 13.4492 70.9355 13.8243 70.9355 14.2863L70.9355 27.6792C70.9355 28.1413 71.2989 28.5163 71.7465 28.5163L92.0189 28.5163L92.0189 37.7238C92.0189 38.062 92.2168 38.3667 92.5184 38.4973C92.8217 38.6262 93.1704 38.5559 93.4023 38.3165L109.633 21.6173C109.786 21.4599 109.872 21.2472 109.872 21.0246C109.872 20.802 109.786 20.5893 109.635 20.432L93.4039 3.68419C93.1719 3.44477 92.8233 3.37281 92.5199 3.50339Z" fill="%23EF7F1A"/></g><g opacity="0.24" clip-path="url(%23clip1_170_2057)"><path d="M163.455 3.50339C163.152 3.63397 162.954 3.93868 162.954 4.27683L162.954 13.4492L142.682 13.4492C142.234 13.4492 141.871 13.8243 141.871 14.2863L141.871 27.6792C141.871 28.1413 142.234 28.5163 142.682 28.5163L162.954 28.5163L162.954 37.7238C162.954 38.062 163.152 38.3667 163.454 38.4973C163.757 38.6262 164.106 38.5559 164.338 38.3165L180.569 21.6173C180.721 21.4599 180.807 21.2472 180.807 21.0246C180.807 20.802 180.721 20.5893 180.57 20.432L164.339 3.68419C164.107 3.44477 163.759 3.37281 163.455 3.50339Z" fill="%23EF7F1A"/></g><defs><clipPath id="clip0_170_2057"><rect width="40.192" height="38.936" fill="white" transform="translate(70.9355 41.0958) rotate(-90)"/></clipPath><clipPath id="clip1_170_2057"><rect width="40.192" height="38.936" fill="white" transform="translate(141.871 41.0958) rotate(-90)"/></clipPath></defs></svg>') center no-repeat;
    } */

    span.active {
        color: var(--black-color);
    }
}

.decor-arrow {
    position: absolute;
    top: 52px;
    left: 0;
    display: flex;
    align-items: center;
    gap: 38px;

    .arrow-icon {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease;
        will-change: opacity;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &.prev {
            opacity: 0.24;
        }

        &.next {
            opacity: 0.48;
        }
    }
}

/* why-us */

.why-us {
    .why-us__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    .why-us__item {
        position: relative;
        padding: 37px 32px 32px;
        color: var(--black-color);
        background: rgba(250, 250, 250, 0.98);

        &::before {
            content: '';
            position: absolute;
            top: 26px;
            right: 26px;
            width: 24px;
            height: 24px;
            border-right: 8px solid var(--main-color);
            border-top: 8px solid var(--main-color);
        }

        &:nth-child(4n + 2) {
            color: var(--white-color);
            background-color: var(--main-color);

            &::before {
                border-color: var(--white-color);
            }
        }

        &:nth-child(4n + 3) {
            color: var(--white-color);
            background-color: var(--black-color);
        }
    }

    .why-us__title {
        font-size: 56px;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    .why-us__subtitle {
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}

/* partners */

.partners__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
}

.partners__item {
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 106px;
    padding: 16px;

    img {
        width: 100%;
        height: auto;
    }
}

/* trust us */

.trust-us {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--black-color);

    .section-top {
        color: var(--white-color);
    }

    &:not(:last-child) {
        margin-bottom: 0;
    }
}

.review-slider {
    .btn-default {
        color: var(--black-color);

        &:focus,
        &:hover {
            color: var(--main-color);
        }
    }
}

.review-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 32px 32px 64px;
    background: var(--white-color);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 8px;
        background: var(--main-color);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 24px;
        left: 32px;
        width: 56px;
        height: 24px;
        background: url('data:image/svg+xml,<svg width="56" height="24" viewBox="0 0 56 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="52" cy="12" r="4" transform="rotate(180 52 12)" fill="%232B2A29"/><circle cx="36" cy="12" r="4" transform="rotate(180 36 12)" fill="%232B2A29"/><circle cx="20" cy="12" r="4" transform="rotate(180 20 12)" fill="%23EF7F1A"/><circle cx="4" cy="12" r="4" transform="rotate(180 4 12)" fill="%232B2A29"/></svg>') center no-repeat;
    }
}

.review-top {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        right: 30px;
        bottom: 30px;
        border-right: 4px solid var(--main-color);
        border-bottom: 4px solid var(--main-color);
    }
}

.review-user {
    display: grid;
    align-items: center;
    grid-template-columns: 56px auto;
    column-gap: 12px;
}

.review-user__img {
    grid-row: span 2;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.review-user__name {
    color: var(--black-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    text-transform: uppercase;
}

.review-user__position {
    color: var(--grey-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;

    .star-icon {
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none"><path d="M22.4329 10.3126L17.7611 14.8666L18.8644 21.2986C18.9124 21.5798 18.7969 21.8641 18.5659 22.0321C18.4354 22.1273 18.2801 22.1753 18.1249 22.1753C18.0056 22.1753 17.8856 22.1468 17.7761 22.0891L11.9996 19.0523L6.22388 22.0883C5.97188 22.2218 5.66513 22.2001 5.43413 22.0313C5.20313 21.8633 5.08763 21.5791 5.13563 21.2978L6.23888 14.8658L1.56638 10.3126C1.36238 10.1131 1.28813 9.81455 1.37663 9.5438C1.46513 9.27305 1.69988 9.0743 1.98263 9.03305L8.43938 8.09555L11.3269 2.24405C11.5796 1.7318 12.4196 1.7318 12.6724 2.24405L15.5599 8.09555L22.0166 9.03305C22.2994 9.0743 22.5341 9.2723 22.6226 9.5438C22.7111 9.8153 22.6369 10.1123 22.4329 10.3126Z" fill="%23EF7F1A" stroke="%23EF7F1A" stroke-width="2"/></svg>') center center no-repeat;

        &.disabled {
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none"><path d="M22.4329 10.3126L17.7611 14.8666L18.8644 21.2986C18.9124 21.5798 18.7969 21.8641 18.5659 22.0321C18.4354 22.1273 18.2801 22.1753 18.1249 22.1753C18.0056 22.1753 17.8856 22.1468 17.7761 22.0891L11.9996 19.0523L6.22388 22.0883C5.97188 22.2218 5.66513 22.2001 5.43413 22.0313C5.20313 21.8633 5.08763 21.5791 5.13563 21.2978L6.23888 14.8658L1.56638 10.3126C1.36238 10.1131 1.28813 9.81455 1.37663 9.5438C1.46513 9.27305 1.69988 9.0743 1.98263 9.03305L8.43938 8.09555L11.3269 2.24405C11.5796 1.7318 12.4196 1.7318 12.6724 2.24405L15.5599 8.09555L22.0166 9.03305C22.2994 9.0743 22.5341 9.2723 22.6226 9.5438C22.7111 9.8153 22.6369 10.1123 22.4329 10.3126Z" fill="none" stroke="%23EF7F1A" stroke-width="2"/></svg>') center no-repeat;
        }
    }
}

/* main-from */

.main-form {
    position: relative;
    padding-top: 60px;
    padding-bottom: 44px;

    .container {
        position: relative;
        max-width: 1096px;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.main-from__bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1440px;
    transform: translateX(-50%);
    aspect-ratio: 1440 / 720;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(256deg,
                rgba(239, 127, 26, 0.48) 0, rgba(239, 127, 26, 0.15) 40%, rgba(239, 127, 26, 0.15) 60%, rgba(239, 127, 26, 0.48) 100%);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 64px;
        left: 64px;
        width: 24px;
        height: 24px;
        border-left: 8px solid var(--white-color);
        border-bottom: 8px solid var(--white-color);
    }
}

.decor-cub {
    position: absolute;
    top: 64px;
    right: 64px;
    width: 32px;
    height: 32px;
    background: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 0 32)" fill="%232B2A29"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 12 32)" fill="%232B2A29"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 24 32)" fill="white"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 0 20)" fill="white"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 12 20)" fill="%232B2A29"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 24 20)" fill="white"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 0 8)" fill="white"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 12 8)" fill="white"/><circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 24 8)" fill="white"/></svg>') center no-repeat;
}

.main-from__title {
    color: var(--white-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.main-from__logo {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    img {
        width: 100%;
        height: auto;
        filter: grayscale(100%) brightness(1000%);
    }
}

.form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px 84px;
    background: var(--black-color);
    scroll-margin-top: 120px;
}

.form__title {
    color: var(--white-color);
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.16;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.form__note {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.form__wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 32px;
}

.form__group {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    &:last-child {
        grid-column: span 2;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        color: #2B2A29 !important;
        -webkit-text-fill-color: #2B2A29;
        -webkit-box-shadow: none;
        transition: background-color 5000s ease-in-out 0s;
    }
}

.form__label {
    margin-bottom: 12px;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.form__input {
    min-height: 56px;
    padding: 12px 20px;
    background: var(--white-color);
    border: none;
    border-radius: 0;
    color: var(--black-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    transition: all 0.3s ease;
    outline: none;

    &::placeholder {
        color: var(--grey-color);
    }

    @media (any-hover: hover) {
        &:hover {
            box-shadow: inset 0 0 0 1px var(--main-color);
        }
    }

    &:focus {
        box-shadow: inset 0 0 0 1px var(--main-color);
    }
}

textarea.form__input {
    height: 168px;
    resize: none;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.btn-submit {
    position: absolute;
    bottom: 0;
    left: 50%;
    min-height: 88px;
    gap: 16px;
    padding: 20px 64px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    transform: translate(-50%, 50%);

    &::before {
        content: '';
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 40 40" fill="none"><g clip-path="url(%23clip0_170_2237)"><path d="M39.9996 27.0699C39.9996 22.1063 37.152 17.6763 32.8872 15.5215C32.7548 25.0387 25.0387 32.7548 15.5215 32.8872C17.6763 37.152 22.1063 39.9996 27.0699 39.9996C29.3972 39.9996 31.6604 39.3798 33.6489 38.2021L39.9432 39.9432L38.2021 33.6489C39.3798 31.6604 39.9996 29.3972 39.9996 27.0699Z" fill="white"/><path d="M30.5469 15.2734C30.5469 6.8515 23.6954 0 15.2734 0C6.8515 0 0 6.8515 0 15.2734C0 18.0182 0.730591 20.6906 2.11792 23.0368L0.0561523 30.4904L7.51007 28.429C9.85626 29.8163 12.5287 30.5469 15.2734 30.5469C23.6954 30.5469 30.5469 23.6954 30.5469 15.2734ZM12.9297 11.7188H10.5859C10.5859 9.13391 12.6886 7.03125 15.2734 7.03125C17.8583 7.03125 19.9609 9.13391 19.9609 11.7188C19.9609 13.0307 19.4055 14.2917 18.4366 15.1779L16.4453 17.0004V18.8281H14.1016V15.9683L16.8542 13.4488C17.3462 12.9987 17.6172 12.3843 17.6172 11.7188C17.6172 10.4263 16.5659 9.375 15.2734 9.375C13.981 9.375 12.9297 10.4263 12.9297 11.7188ZM14.1016 21.1719H16.4453V23.5156H14.1016V21.1719Z" fill="white"/></g><defs><clipPath id="clip0_170_2237"><rect width="40" height="40" fill="white"/></clipPath></defs></svg>') center no-repeat;
        transition: background 0.3s ease-in-out;
    }

    &:hover {
        background: var(--black-color);
        color: var(--white-color);
        box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0.1);
    }
}


/* media */
@media (min-width:992px) {
    .solutions__item:nth-child(even) {
        .solutions__content {
            order: 2;
        }

        .solutions__img {
            order: 1;
        }

        .decor-line {
            &::after {
                order: 1;
            }

            &::before {
                order: 2;
            }
        }
    }
}

@media (max-width:1199.98px) {
    .header__logo {
        max-width: 180px;
    }

    .header__list {
        gap: 6px 16px;
    }

    .header__action {
        min-height: 40px;
        padding: 8px 16px;
    }

    .info_block {
        gap: 12px;
    }

    .info_block__text {
        font-size: 16px;
        line-height: 1.2;

        a {
            font-size: 16px;
            line-height: 1.2;
        }
    }
}


@media (max-width:991.98px) {
    :root {
        --height-header: 60px;
    }

    p:not(:last-child) {
        margin-bottom: 16px;
    }

    .section:not(:last-child) {
        margin-bottom: 60px;
    }

    .section-title {
        font-size: 78px;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .page-title {
        font-size: 60px;
        line-height: 1.2;
    }

    .section-top {
        margin-left: 0;
        max-width: 100%;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .section-subtitle {
        font-size: 20px;
        line-height: 1.2;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .section-text {
        font-size: 16px;
        line-height: 1.5;
    }

    .btn {
        min-height: 40px;
        padding: 8px 24px;
        text-transform: none
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 40px !important;
        height: 40px !important;
    }

    .header {
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--white-color);
            transform: translateX(100%);
            transition: transform 0.3s ease;
        }
    }

    .header__menu {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100dvh;
        padding: 72px 16px 24px;
        background: var(--white-color);
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 100dvh;
        align-items: flex-start;
        transform: translateX(100%);
        pointer-events: none;
        transition: all 0.3s ease-in-out;
        will-change: transform;

        .header__phone {
            margin-top: auto;
        }

        .header__action {
            width: 100%;
        }
    }

    .header__nav {
        width: 100%;

        &:not(:last-child) {
            margin-right: 0;
        }
    }

    .header__list {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        width: 100%;
    }

    .header__item {
        width: 100%;
        border-bottom: 1px solid var(--black-color);

        &:first-child {
            border-top: 1px solid var(--black-color);

            .header__link {
                padding-top: 20px;
            }
        }
    }

    .header__link {
        display: flex;
        width: 100%;
        padding-bottom: 20px;
        font-size: 20px;

        transform: translateX(100%);
    }

    .header__burger {
        display: flex;
    }

    .hero__wrap {
        display: flex;
        flex-direction: column;
        margin: 0 -16px;
        border: none;
    }

    .hero__box {
        width: 100%;
        max-width: 100%;
        padding: 16px;
        background: var(--black-color);
        border-bottom: 6px solid #3E92CC;

        &::before {
            display: none;

        }
    }

    .hero__slider_wrapper {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .hero__subtitle {
        font-size: 24px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .hero__slider_img_wrap {
        position: static;
        width: 100%;
        max-width: 100%;
    }

    .hero .swiper-nav {
        margin-top: 32px;
    }

    .solutions__row {
        padding-top: 24px;
        padding-bottom: 24px;
        flex-direction: column;

        &:last-child {
            padding-bottom: 0;
        }
    }

    .solutions__title {
        font-size: 24px;
        line-height: 1.2;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .solutions__img {
        width: 100%;
    }

    .solutions__content::before {
        display: none;
    }

    .ready-made {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .ready-made__top {
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        .section-top {
            order: 1;
        }

    }

    .ready-made__logo {
        order: 2;
        max-width: 527px;

        img {
            width: 100%;
        }
    }

    .why-us {
        .why-us__list {
            gap: 24px;
        }

        .why-us__item {
            padding: 16px;

            &::before {
                top: 16px;
                right: 16px;

            }
        }

        .why-us__title {
            font-size: 40px;
        }

        .why-us__subtitle {
            font-size: 20px;
            line-height: 1.2;
        }
    }

    .trust-us {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .text-block__wrap {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .text-block__text {
        font-size: 40px;
        line-height: 1.2;
    }

    .decor-arrow {
        top: 32px;
    }

    .partners__list {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    .review-card {
        padding: 24px 24px 38px;

        &::before {
            width: 4px;
        }

        &::after {
            bottom: 8px;
            left: 24px;
        }
    }

    .review-top {
        &::before {
            right: 24px;
            bottom: 16px;

        }
    }

    .review-user {
        grid-template-columns: 48px auto;
        column-gap: 10px;
    }

    .review-user__img {
        width: 48px;
        height: 48px;
    }

    .review-user__name {
        font-size: 16px;
        line-height: 1.2;
    }

    .rating {
        gap: 2px;

        .star-icon {
            width: 16px;
            height: 16px;
        }
    }

    .form {
        padding: 32px 32px 48px;
    }

    .form__wrap {
        gap: 24px;
    }

    .form__title {
        font-size: 32px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .form__label {
        font-size: 16px;
    }

    .form__input {
        min-height: 48px;
        font-size: 16px;
        padding: 10px 16px;
    }

    textarea.form__input {
        height: 140px;
    }
}

@media (max-width:767.98px) {
    .wrapper>main {
        padding-bottom: 60px;
    }

    .section-title {
        font-size: 58px;
    }

    .page-title {
        font-size: 40px;
    }

    .hero__subtitle {
        font-size: 20px;
    }

    .slider-bottom {
        margin-top: 20px;
    }

    .why-us {
        .why-us__list {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
        }

        .why-us__title {
            font-size: 36px;
        }
    }

    .text-block__wrap .decor-arrow {
        display: none;
    }

    .text-block__text {
        font-size: 28px;
        text-indent: 0;
    }

    .partners__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer {
        padding-top: 24px;
        padding-bottom: 24px;

        .logo {
            width: 100%;
            max-width: 180px;

            img {
                width: 100%;
            }
        }
    }

    .copyright__text {
        font-size: 10px;
        line-height: 1.2;
    }

    .fenix-copyright {
        font-size: 10px;
        line-height: 1.2;
        gap: 8px;

        span {
            max-width: 50px;
        }
    }

    .fenix-copyright__link {
        max-width: 60px;
        width: 100%;
        flex-shrink: 0;

        img {
            width: 100%;
        }
    }

    .main-form {}

    .main-from__bg {
        height: 40%;

        .decor-cub,
        &::after {
            display: none;

        }
    }

    .main-from__title {
        font-size: 24px;
        line-height: 1.2;
    }

    .main-from__logo:not(:last-child) {
        margin-bottom: 28px;
    }

    .form {
        padding: 16px 16px 40px;
    }

    .form__title {
        font-size: 24px;
    }

    .form__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-submit {
        gap: 8px;
        font-size: 16px;
        line-height: 1.2;

        &::before {
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width:575.98px) {
    .wrapper>main {
        padding-bottom: 40px;
    }

    .section:not(:last-child) {
        margin-bottom: 40px;
    }

    .section-title {
        font-size: 38px;
    }

    .page-title {
        font-size: 38px;
    }

    .slider-bottom {
        flex-direction: column;
        row-gap: 16px;

        .swiper-nav {
            order: 2;
        }

        .btn {
            order: 1;
            width: 100%;
        }
    }

    .swiper-nav {
        width: 100%;
        justify-content: space-between;
    }

    .hero .btn {
        width: 100%;
    }

    .text-block__wrap {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .text-block__text {
        font-size: 24px;
    }

    .solutions__content .btn {
        width: 100%;
    }

    .partners__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .partners__item {
        padding: 12px;
    }
}

@keyframes lintMove {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}